ion-header {
  --border-width: 0;
  box-shadow: none;

  ion-toolbar {
    --background: #3a6df0;
  }
}

.header-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  margin-right: 8px;
}

ion-icon {
  font-size: 22px;
}

ion-chip {
  --background: #3a6df0;
  color: #ffffff;
}


.footer-btn {
  box-shadow: none;
  ion-toolbar {
    --background: #fff; /* match your theme */
  }

  .scan-btn {
    margin: 10px;
    height: 48px;
    --background: #3a6df0;
    color: #fff;
    font-weight: 600;
  }
}


.bottom-btn-container {
  position: fixed;
  bottom: 110px; /* space above ion-tab-bar */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: transparent;
  z-index: 999;
}

.scan-btn {
  --background: var(--ion-color-primary);
  --color: #fff;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
