// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /** App primary theme color **/
  --ion-color-primary: #3a6df0;
  --ion-color-primary-rgb: 58, 109, 240;
  --ion-color-primary-contrast: #ffffff; /* text/icons on primary background */
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #345ed4;
  --ion-color-primary-tint: #507cf2;

  /** Tab bar background **/
  --ion-tab-bar-background: var(--ion-color-primary);

  /** Active tab (selected) **/
  --ion-tab-bar-color-selected: #ffffff; /* active icon & label color */

  /** Inactive tab **/
  --ion-tab-bar-color: rgba(255, 255, 255, 0.6); /* inactive white opacity */
}
